---
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<li class:list={['flex items-center gap-2', className]}>
  <Icon name="mdi:check-circle" class="text-primary text-lg" />
  <slot />
</li>
